{% extends '../core/base.twig' %}

{% block content %}

    <div class="header text-center text-white">
        <div class="header-content">
            <div class="container">
                <h1 class="header-heading">Donations</h1>
                <p class="header-subheading">
                    We've simplified the donation system for online communities.
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block styles %}

    <link rel="stylesheet" href="/css/main.css" />

{% endblock %}

{% block scripts %}

    <script src="/js/main.js"></script>

{% endblock %}
